$green: #80BF3D;

html{
  min-width:320px;
}
a{
  text-decoration:none;
}
p{
	line-height:1.2em;
}

body{
	font-size:14px !important;
	font-family: 'LatoRegular', Arial, sans-serif;
}
div.main-container{
  margin: auto auto;
}
div.container{
  margin:auto auto;
  max-width:980px;
}
div.logo-section{
	margin-top:17px;

  	form{
	  display:inline-block;
	  margin-left:5px;
	  float:right;
	  margin-top:3px;
	  height:45px;
	}
	label{
		display:inline-block;
		cursor:default;
		color:white;
		margin-left:15px;
	  	height:45px;
	  	border:0px;
			input{
				box-shadow:none;
				background-color:$green;
				color:#111;
				outline:none;
			  	max-width:230px;
			  	min-width:200px;
			  	border:none;
			  	height:100%;
			 	margin-top:0px;
			  	line-height:1;
			  	font-size:1em;
				padding:0px;
			  	padding-left:10px;
			  	padding-right:10px;
				margin:0px;
			 	margin-left:10px;
			  border-radius:10px;
			}
	}
  	input.submit{
	  display:inline-block;
	  background-color:$green;
	  border:0px;
	  margin-left:0px;
	  padding-left:20px;
	  padding-right:20px;
	  padding-top:0px;
	  padding-bottom:0px;
	  height:100%;
	  color:black;
	  font-family: 'LatoRegular', 'Arial', 'sans-serif';
	  font-size:1em;
	  font-size:1em;
	  margin-top:0px;
	  margin-left:15px;
	  border-radius:10px;
	  cursor:pointer;
	}
	input:focus, input:active, input:hover{
	  background-color:lighten($green, 20%);
	}
}

div.hero-background{
  background-image: url('../img/mainbg.jpg');
  background-repeat:no-repeat;
  border-top:6px solid $green;
  background-size:cover;
  height:770px;
  position:absolute;
  top:0px;
  center:0px;
  width:100%;
  z-index:-1;
  background-attachment: fixed;
  background-position: center center;
}
div.depth-background{
  position:absolute;
  top:770px;
  width:100%;
  background-image: url('../img/depth-gradient.png');
  background-repeat:repeat-x;
  height:65px;
  z-index:-1;
}
div.hero-section-inline{
	font-family:'LatoLight', Arial, sans-serif;
  	display:none;
	width:100%;
	margin:0;
  	margin-top:424px;
	padding: 15px 25px 15px 25px;
	background-color: rgba(0,0,0, 0.4);
	h1 {
	  font-size:4.60em;
	  font-weight:300;
	  color:white;
	  line-height:1.2em;
	}

	h2{
		font-family:'LatoHairline', Arial, sans-serif;
	  font-size: 3.30em;
	  font-weight:100;
	  color:white;
	  line-height:1.2em;
	}
}

div.hero-section{
  position:absolute;
  padding-top:0px;
  margin-top:0px;
  top: 600px;
  width:100%;
	font-family:'LatoLight', Arial, sans-serif;

  h1 {
	font-size:4.60em;
	font-weight:300;
	color:white;
	line-height:1.2em;
  }

  h2{
	font-size: 3.30em;
	font-weight:100;
	color:white;
	line-height:1.2em;
	font-family:'LatoHairline', Arial, sans-serif;
  }

  div.hero-block {
	position:absolute;
	bottom:15%;
	left:0px;
	width:45%;
	display:block;
	background-color: rgba(0,0,0, 0.4);
	padding: 30px 50px 30px 50px;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;

	//temporary responsive fix
	min-width:300px;
  }

  div.text-block{
	display:block;
	float:right;
	max-width:350px;
	min-width:300px;
  }

}
div.row.no-margin-bottom{
  margin-bottom:0px;
}

div.section-anchors{
  width:100%;
  margin-top:600px;
}

.anchor-1{
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.anchor-2{
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

div.section-anchors > a{
  display:inline-block;
  width:50%;
  text-align:center;
  min-height:90px;
  color:#b3b3b3;
  background-color:#e6e6e6;
  line-height:90px;
  font-size:1.7em;
  font-weight:300;
  margin-top:45px;
}
div.section-anchors > a.active{
  background-color:$green;
  color:white;
  cursor:default;
}
div.section-anchors > a.active:hover{
  background-color:$green;
}
div.section-anchors > a:hover, a:active{
  text-decoration:none;
  background-color:lighten($green, 20%);
  color:white;
}

div.explain-section span1 h1{
  font-family:"FontAwesome";
}
span.icon-desktop{
  font-size:3.71em;
  line-height:1.2em;
  color:$green;
}

div.description-body{
  font-size:1.42em;
  font-family: 'LatoLight', Arial, sans-serif;

  h2{
	font-size:1.408em;
	display:block;
	color:$green;
	text-overflow:none;
	padding-bottom:20px;
	padding-top:10px;
  }
}
.section-feature span[class*='icon-']{
  font-size:3.71em;
  line-height:1.1em;
  color:$green;
  display:block;
  text-align:center;
  background-position:center;
  margin: 0 auto;
}
.section-row{
  margin-top:60px;
  margin-bottom:60px;
}

.release-section{
	background-image:url("../img/release-sectionbg.jpg");
	min-height:393px;
	width:100%;
	background-size:cover;
	background-repeat:no-repeat;
	background-attachment:fixed;
	text-align:center;
	padding-top:70px;
	h1,h2{
	  color:white;
	  font-size:2em;
	  text-align:center;
	  line-height:2em;
	}
	h1{
	  font-weight:300;
	 font-family:'LatoRegular', Arial, sans-serif;
	}
	h2{
	  font-weight:100;
	  font-family:'LatoLight', Arial, sans-serif;
	}
	form{
	  display:inline-block;
	  margin-left:5px;
	  line-height:44px;
	  margin-top:30px;
	}
	label{
		display:inline-block;
		cursor:default;
		color:white;
		margin-left:15px;
		input{
		  padding:15px;
		  margin-left:5px;
		  border:0px;
		  box-shadow:none;
		  background-color:$green;
		  color:white;
		  color:#111;
		  outline:none;
		  width:400px;
		  min-width:200px;
		  font-size:12px;
		  border-radius:10px;
		}
	}
	input.submit{
		display:inline-block;
		background-color:$green;
		border:0;
		margin:0;
		margin-left:10px;
		padding-left:20px;
		padding-right:20px;
		height:45px;
		color:black;
		font-family: 'LatoRegular', 'Arial', 'sans-serif';
		font-size:14px;
		border-radius:10px;
		cursor:pointer;
	}
	input:focus, input:active, input:hover{
		  background-color:lighten($green, 20%);
	}
}
.features-section{
  padding-top:0px;
  padding-bottom:30px;
}

.footer-section{
  background-image: url('../img/depth-gradient.png');
  background-repeat:repeat-x;
  min-height:200px;
  background-color:#e6e6e6;
  text-align:center;
  padding-top:40px;
  padding-bottom:70px;
  h1{
	text-align:center;
	font-size:1.2em;
	margin-top:20px;
  }
}

div.img-section{
	.span_5{

	}
	img{
		border: 1px solid #ccc;
	}
}
div.row.img-section.min-section{
	display:none;
}

.players-section{
	display:none;
}
div.description-body.project-synopsis p{
	margin-bottom:20px;
}