@media (max-width: 1000px){
  .container{
	padding-left:15px;
	padding-right:15px;
  }
  .logo-section > form{
	float:right;
	max-width:310px;
	label{
	  float:right;
	  margin-top:10px;
	  margin-bottom:10px;
	}
	input.submit{
	  float:right;
	  margin-right:126px;
	}
  }
  div.description-body{
	h2{
	  padding-left:10px;
	}
	p{
	  padding-left:10px;
	}
  }
  div.hero-section > div.hero-block{
	width:55%;
	padding:20px 40px 20px 40px;
  }
}

@media (max-width: 768px){
  html, body{
	font-size:13px !important;
  }
  div.hero-section > div.hero-block {
	width:64%;
	padding:20px 20px 20px 20px;
  }
  div.description-body{
	h2{
	  padding-left:20px;
	}
	p{
	  padding-left:20px;
	}
  }
}

div.img-section{
	.span_5{
		img{
			max-width:100%;
		}
	}
}

@media (max-width: 620px){

	div.row.img-section.min-section{
		display:block;
	}

	div.row.img-section.max-section{
		display:none;
	}

	div.img-section{
		.span_5{
			text-align:center;
			img{
				max-width:100%;
			}
		}
	}



	.container{
	  padding:0px;
	}
  div.hero-section{
	bottom:0px;
	top: 623px;
	display:none;
  }
  div.hero-section-inline{
	display:block;
	margin-top:475px;
  }
  div.section-anchors{
	margin-top:0px;
	border-radius:0px;
  }
  div.section-anchors > a{
	  margin-top:0px;
	  border-radius:0px;
  }


  	.features-section{
	  padding-left:10px;
	  padding-right:10px;
	  padding-top:0px;
	}
	.section-row{
	  margin-top:0px;
	  margin-bottom:0px;
	}
	.section-feature{
	  margin-bottom:20px;
	  margin-top:20px;
	}
	.section-feature div.span_2.col {
	  float:left;
	  width:15%;
	}
	.section-feature div.span_10.col {
	  float:left;
	  width:85%;
	}
  	.release-section h1{
	  font-size:1.8em;
	}
	.release-section h2{
	  font-size:1.3em;
	}
  	.release-section form{
	  text-align:center;
	}
  	.release-section label{
	  font-size:2em;
	  font-weight:300;
	  text-align:center;
	  margin-top:0px;
	  padding-top:0px;
	}
  	.release-section label input{
	  display:block;
	  width:300px;
	  margin:0px auto;
	  height:45px;
	  margin-bottom:20px;
	}
  .release-section label{
	display:block;
	font-size:1.8em;
  }

  div.logo-section > form{
	// This code is bad because of webkit bug 53166
	display:inline-block;
	margin:auto auto;
	float:none;
	margin-top:20px;
	margin-left:-40px;
  }
  .logo-section > form label {
	float:right;
  }



  .logo-section{
	text-align:center;
  }
  div.logo-section > img{
	display:block;
	float:none;
	margin: auto auto;
  }
}

@media (max-width:585px){
  div.hero-section-inline{
	margin-top:421px;
  }
}

@media (max-width:510px){
  div.hero-background{
	background-attachment:scroll;
  }
  div.release-section{
	background-attachment:scroll;
  }
  div.hero-section-inline{
	margin-top:421px;
  }
  div.section-anchors > a{
	display:block;
	width:100%;
	margin-top:0px;
	border-radius:0px;
  }
  div.release-section label{
	margin-left:0px;
  }
  div.release-section form{
	margin-left:0px;
  }

  div.release-section input.submit{
	margin-left:0px;
  }
}

@media (max-width:379px){
  div.hero-section-inline{
	margin-top:421px;
	h1{
	  font-size:3.5em;
	}
	h2{
	  font-size:2.5em;
	}
  }
  div.release-section{
	padding-top:30px;
	h1{
	  font-size: 1.5em;
	}
	h2{
	  font-size:1.1em;
	}
  }


  div.hero-section-inline{
	margin-top:370px;
  }
  div.release-section form label input{
	width:250px;
  }
  release-section h2{
	font-size:1.0em;
  }
}
