doctype 5
html
	head
		meta(name="viewport", content="width=device-width, initial-scale=1")
		script(src="components/jquery/jquery.min.js")
		link(rel="stylesheet", href="fonts/lato/stylesheet.css")
		link(rel="stylesheet", href="css/grid/reset.css")
		link(rel="stylesheet", href="css/grid/responsive-gs-12col.css")
		link(rel="stylesheet", href="css/grid/ie.css")
		link(rel="stylesheet", href="css/main.css")
		link(rel="stylesheet", href="css/respond-1000.css")

		link(rel="stylesheet", href="fonts/css/font-awesome.min.css")
		script(src="responsiveTrigger.js")
		title Clubstalk
	body
		div.hero-background
		div.depth-background
		div.hero-section
			div.hero-block
				div.text-block
					h1 Simple. Free.
					h2 Grow your sports club online.
		div.main-container
			div.container
				div.row
					div.logo-section.span_12
						img(src="img/logo.svg", width="251px", height="58px")
						form
							label(for="username")
								| Username
								input(type="text")
							label(for="password")
								| Password
								input(type="password")
							input(type="submit", value="Login").submit
				div.row.no-margin-bottom
					div.span12
						div.hero-section-inline
							h1 Simple. Free.
							h2 Grow your sports club online.
					div.row
						div.span_12
							div.section-anchors
								a().anchor-1.active
									| Club Managers
								a().anchor-2
									| QUT Staff / Markers
					div.players-section
						div.row
							div.span_12.col
								div.description-body.project-synopsis
									h2 Project Synopsis
									p
										| My interface design is for a 'second-screen' application to enhance the
										| experience of watching your local sports team play. There are several
										| application types that might be suitable for such an app, for example,
										| a people-centric social network. I decided to address the activity with a
										| website with optional engagement however. Like a news website for example,
										| the site allows users to use almost all the site's content without an
										| account, and then to engage/participate they can create one. Such a product
										| is 'set up for the club by a manager' and hence the marketing content on this
										| website is directed towards them.
									p
										| The interface is just for the mobile web-app component of the system. I
										| chose not to make the web-app responsive (although the promo site is) for
										|performance reasons, although the models/controllers are reusable due to AngularJS's MVC separation.
						div.row
							div.span_12.col
								div.description-body.project-synopsis
									h2 Before, After and During Games
									p For use before games, the app has news and game details sections. These are for people to discuss upcoming / past events, and also get directions to games.
									p During games, the app has a discussion page and also score-keeping mechanisms. When the app is opened, it will ideally open directly to the page for that game. This is to make sharing content / score updates from games to people who aren't physically attending easy, and also so that the app feels like a digital extension of the physical club.
									p After games, there is a media section which collates the photo's people have taken from the events. As well, the before-game activities are relevant here too.
						div.row
							div.span_7.col
								div.description-body.project-synopsis
									h2 Technical Details
									p The web app is developed as an AngularJS application, with jQuery Mobile providing transition support through the open source jquery-mobile-angular adapter. For performance considerations the header/footer and sidebar navigation from jQuery Mobile were rewritten.
									p The app is written in Jade/SCSS/Javascript. For evaluation purposes, the un-minified version is deployed.
							div.span_5.col
								div.description-body.project-synopsis
									h2 Source Code
									p This website:
										a(href="http://bit.ly/18rRWvd") http://bit.ly/18rRWvd
									p The web app:
										a(href="http://bit.ly/112quSE") http://bit.ly/112quSE
						div.row
							div.span_12.col
								div.description-body.project-synopsis
									h2 Limitations / Notes for this app
									p
										| I have included a responsive viewer with the demo interface. Use the ~ key
										| to activate it.
									p
										| This app supports dynamic styling. However, the settings page is not
										| implemented at this time. Please execute setOrange() from web inspector
										| (without the ~ responsive viewer on).
									p
										| Creation of news, event items, updates and photo feeds are not available in
										| this interface demo. The models for some of these items are instantianted
										| from JSON
										| files in main.js and can be created from the command line.
										| They are largely derivative from the news view however.
									p
										| The notification/menu button's number of new items is not bound to the
										| number of new event's/news items. For non-logged in users this would
										| display 'new items this week'.
									p
										| The icons in this font are from FontAwesome, and it uses several open
										| source libraries. See /jade/scripts.jade
						div.row.img-section
							div.span_5.col
								img(src="img/screen1.png")
							div.span_7.col
								div.description-body
									h2
										| Manage your Club's Events
									p This screen shows the list view for the events component of the web app.
										| The weekly time-frame is very suitable for data domain bounds in the club
										| context and so is the default. A user can use this screen to view several
										| events and select one to see further details / updates.

						div.row.img-section.min-section
							div.span_5.col
								img(src="img/screen2.png")
							div.span_7.col
								div.description-body
									h2
										| A News Feed for your Club
									p A user can view news articles before / after games, and can comment on them. As
										| well, the reputation functionality allows them to assign reputation points
										| (xbox-live style) to users who contribute news they like.
						div.row.img-section.max-section
							div.span_7.col
								div.description-body
									h2
										| A News Feed for your Club
									p A user can view news articles before / after games, and can comment on them. As
										| well, the reputation functionality allows them to assign reputation points
										| (xbox-live style) to users who contribute news they like.
							div.span_5.col
								img(src="img/screen2.png")
						div.row.img-section
							div.span_5.col
								img(src="img/screen3.png")
							div.span_7.col
								div.description-body
									h2
										| Update Scores Live
									p Users at games can quickly and easily update the game's score on the web app,
										| so people who couldn't make it physically can see updates. These are treated as
										| updates and are mixed in with commentary and media in the updates tab.
					div.coaches-section
						div.features-section
							div.row.section-row
								div.span_6.col.section-feature
									div.span_2.col
										span.icon-desktop
									div.span_10.col
										div.description-body
											h2
												| A Free Website
											p We only do sports, so team lists, stats, player profiles and club events come naturally. That makes a Clubstalk site easy to manage, and perfect for your club.
								div.span_6.col.section-feature
									div.span_2.col
										span.icon-money
									div.span_10.col
										div.description-body
											h2
												| Your Ads, your Revenue
											p With a Clubstalk website if you choose to enable advertising you earn money for your club with a share of the profit.
							div.row.section-row
								div.span_6.col.section-feature
									div.span_2.col
										span.icon-trophy
									div.span_10.col
										div.description-body
											h2
												| Award your Players and Staff
											p You can award players and staff with reputation points for great performances, or great work helping the team off the field.
								div.span_6.col.section-feature
									div.span_2.col
										span.icon-group
									div.span_10.col
										div.description-body
											h2
												| Organise Across Social Media
											p When you publish to your Clubstalk website you can connect to members via Facebook, Twitter and email.


			div.release-section
				h1 Submitting on May 27, 2013.
				h2 To stay up to date, register your email here.
				form
					label(for="email")
						| Email
						input(type="text")
					input(type="submit", value="Register").submit

			div.footer-section
				img(src="img/icon.png")
				br
				h1 KIB204 Submission - Andrew Plummer n6902758
